<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30051">
    <setting id="notify" type="bool" label="30000" default="true" />
    <setting id="timeout" type="number" label="30001" default="240" />
  </category>
  <category label="30052">
    <setting id="voldiff" type="number" label="30002" default="5" />
  </category>
  <category label="30053">
  </category>
  <category label="30054">
    <setting id="debug" type="bool" label="30003" default="false" />
  </category>
</settings>
