<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="service.madeo.rs232server">
    <category help="" id="general" label="30051">
      <group id="1">
        <setting help="" id="notify" type="boolean" label="30000">
          <level>0</level>
	  <default>true</default>
          <control type="toggle" />
        </setting>
	<setting help="" id="timeout" type="integer" label="30001">
          <level>0</level>
          <default>240</default>
	  <control type="edit" format="integer" />
        </setting>
        <setting help="" id="voldiff" type="integer" label="30002">
          <level>0</level>
          <default>5</default>
	  <control type="edit" format="integer" />
        </setting>
      </group>
    </category>
    <category help="" id="musicon" label="30052">
      <group id="2">
        <setting help="" id="voldiff" type="boolean" label="30003">
          <level>0</level>
          <default>false</default>
	  <control type="toggle" />
        </setting>
        <setting help="" id="muteonvid" type="boolean" label="30004">
          <level>0</level>
          <default>false</default>
	  <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>
